In [4]:
import pandas as pd

numeros = pd.Series([10, 20, 30, 40, 50])
numeros

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [5]:
promedio = numeros.mean()
print(f"El promedio es {promedio}")

El promedio es 30.0

In [6]:
total = numeros.sum()
total

np.int64(150)

In [7]:
maximo = numeros.max()
maximo

50

In [8]:
minimo = numeros.min()
minimo

10