In [2]:
import pandas as pd

In [3]:
serie = pd.Series([10, 20, 30, 40, 50])
serie

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [6]:
serie[0] = serie[0] + 10
serie

0    30
1    20
2    30
3    40
4    50
dtype: int64

In [9]:
serie = serie + 10
serie

0    60
1    50
2    60
3    70
4    80
dtype: int64

In [10]:
serie = serie * 2
serie

0    120
1    100
2    120
3    140
4    160
dtype: int64