In [1]:
import pandas as pd

serie = pd.Series([5, 10, 15, 20, 25])
serie

0     5
1    10
2    15
3    20
4    25
dtype: int64

In [2]:
filtro = serie > 15
serie_filtrada = serie[filtro]
serie_filtrada

3    20
4    25
dtype: int64

In [5]:
filtro

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [6]:
serie2 = pd.Series(["banana", "pera", "melon", "manzana"])
serie2

0     banana
1       pera
2      melon
3    manzana
dtype: object

In [10]:
type(serie2)

pandas.core.series.Series

In [13]:
type(serie2[0])

str

In [25]:
filtro2 = serie2.str.contains("m")

In [20]:
serie2[filtro2]

2      melon
3    manzana
dtype: object